# folder
.vscode
eval_results/

# file type
*.svg
*.pyc
*.pth
*.t7
*.caffemodel
*.mat
*.npy

#from parent directory
# folder
.venv/
__pycache__/
.ipynb_checkpoints/

# file type
*.pyc
*.pth
*.pt

# image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.ico
*.raw
*.cr2
*.nef
*.arw
*.dng
*.heic
*.heif

# medical imaging
*.dcm
*.dicom
*.ima
*.img
*.nii
*.nii.gz
*.hdr
*.img.gz

# tensor data
*.npy
*.npz
*.pt
*.pth
*.ckpt
*.tensor
*.tfrecord
*.h5
*.hdf5
*.pkl
*.pickle


